<form method="post" action="/students">
  <label for="first-name-field">First Name:</label>
  <input type="text" name="first_name" id="first-name-field"/>

  <label for="last-name-field">Last Name:</label>
  <input type="text" name="last_name" id="last-name-field"/>

  <label for="house-selection">Select House:</label>
  <select name="house" id="house-selection">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Ravenclaw">Ravenclaw</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Slytherin">Slytherin</option>
  </select>

  <label for="age-field">Age:</label>
  <input type="number" name="age" min="10" max="18"id="age-field"/>

  <input type="submit" value="Register Student"/>

</form>
